[submodule "third-party/Catch"]
	path = third-party/Catch
	url = git@github.com:philsquared/Catch.git
[submodule "third-party/spdlog"]
	path = third-party/spdlog
	url = git@github.com:gabime/spdlog.git
